.container1 {
  width: 40%;
  padding: 1em;
  float: left;
  font: normal 85%/1.4 helvetica, arial, sans-serif;
  background-color: rgba(0, 250, 0, 0.5);
}

.container2 {
  width: 55%;
  padding: 1em;
  float: right;
  font: normal 85%/1.4 helvetica, arial, sans-serif;
  background-color: rgba(0, 0, 250, 0.5);
}
